# Table of Contents 

This notebook is Part 2 of Exercise 4.6 and contains the following: 

* Importing libraries
* Turning project path into a string
* Importing data set
* Checking shape of dataframe 
* Combining data sets 
* Confirming results of merge 
* Exporting merged dataframe

# Steps 3 - 8 (from Task / Exercise 4.6)

## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Turning project path into a string

In [2]:
#Turn project folder path into a string

'/Users/aysha/Documents/Instacart Basket Analysis/'

'/Users/aysha/Documents/Instacart Basket Analysis/'

In [3]:
path = r'/Users/aysha/Documents/Instacart Basket Analysis/'

In [4]:
path

'/Users/aysha/Documents/Instacart Basket Analysis/'

# Step 3

## In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

## 03. Importing data set

In [5]:
# Import the “order_products_combined.pkl" file from Exercise 4.6 (Steps 1 & 2)

df_order_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Step 4

## Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

### 04. Check the shape of the imported dataframe

In [6]:
# Check shape of imported df

df_order_products.shape

(32434489, 11)

### It is the same as the one exported in Step 2 of this task.

# Step 5

## Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [7]:
# Import the most up-to-date version of the products data set from the Prepared Data folder 
# into Jupyter (from last Exercise)

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

In [10]:
# Reassigning df_prods to df_prods1 (without the unnecessary columns)

df_prods1 = df_prods.drop(labels=['Unnamed: 0'], axis=1)

In [11]:
df_prods1

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [12]:
df_prods1.shape

(49672, 5)

In [13]:
df_order_products

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_customers,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0,both

In [14]:
# Dropping '_merge' column from 'df_order_products'and reassigning it to df_order_products_combined

df_order_products_combined = df_order_products.drop(labels = ['_merge'],axis=1)

In [15]:
df_order_products_combined.shape

(32434489, 10)

In [16]:
df_order_products_combined

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_customers,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0

In [17]:
# Merging dataframes (df_prods1 to the df_order_products_combined dataframe)

df_order_products_merged = df_order_products_combined.merge(df_prods1, on = 'product_id', indicator = True)

# Step 6

## Confirm the results of the merge using the merge flag.

In [18]:
df_order_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,first_time_customers,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [19]:
# Check frequency of merged df

df_order_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
# Check shape of merged df

df_order_products_merged.shape

(32404859, 15)

# Step 7

## Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [22]:
# Export newly created dataframe to Pickel format (pkl)


df_order_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_revised.pkl'))