# Table of Contents 

This notebook contains the following: 

* Importing libraries
* Turning project path into a string
* Importing data sets 
* Finding the aggregated mean of the “order_number” column grouped by “department_id” for the dataframe
* Creation of loyalty flags ((Loyal Customer, Regular Customer, and New Customer)
* Checking the basic statistics of the product prices for each loyalty category 
* Creating a spending flag (High Spender, Low Spender)  
* Creating a frequency flag (Frequent customer, Regular customer, Non-frequent customer)

# Step 1 


## Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

## Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## Turning project path into a string

In [2]:
#Turn project folder path into a string

'/Users/aysha/Documents/Instacart Basket Analysis/'

'/Users/aysha/Documents/Instacart Basket Analysis/'

In [3]:
path = r'/Users/aysha/Documents/Instacart Basket Analysis/'

In [4]:
path

'/Users/aysha/Documents/Instacart Basket Analysis/'

## Import your main orders_products_merged dataframe, which should include your newly derived columns from the previous Exercise

In [5]:
# Import the “orders_products_merged" dataframe from last task / Exercise (4.7)

df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4_7.pkl'))

In [ ]:
df_ords_prods_merged.head()

# Step 2 


## In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

### First Step - Grouping Data with pandas

In [7]:
# Using the groupby() function on the dataframe 'df_ords_prods_merged'

df_ords_prods_merged.groupby('product_name')

### Second Step - Aggregating Data with agg()

#### Split the data into groups based on “department_id.”

#### Apply the agg() function to each group to obtain the mean values for the “order_number” column.¶

In [8]:
# Split the data into groups based on 'department_id' and then apply the agg() function to each group to maintain the mean values for the order_number column 

df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### Repeating via square and dot notations

In [9]:
# With square notations 

df_ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [10]:
# Using dot notations (gives same answer but it is not so visually appealing)

df_ords_prods_merged.groupby('department_id').order_number.mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# Step 3 

## Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

### Answer

### In this dataframe, we can see the mean for all the departments available in the dataset whereas in the subset, we could only see the mean for a select few. 

### Another point of observation is that the mean of the entire dataframe differs from the subset (from the Exercise) across all departments.

# Step 4

## Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

### Aggregating Data with transform()

In [11]:
# Create a loyalty flag using loc
# split data into groups based on user_id and tranform order_number to generate max orders for each user

df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [ ]:
df_ords_prods_merged.head(15)

In [ ]:
# Checky accuracy and print head of dataframe with argument of 100 rows

df_ords_prods_merged.head(100)

### Deriving Columns with loc()

#### Setting loc functions (with conditions)

In [14]:
# Setting loc functions (with conditions)

df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [15]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [16]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
# Get the amount of loyal customers

df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

### Assess a single column with this code df['column']

In [ ]:
# Write a head function that returns the first 60 rows of only the “user_id,” “loyalty_flag,” and “order_number” columns

df_ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

# Step 5 


## The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [19]:
# Checking basic statistics of the product prices purchased for each loyalty category 
# (Loyal Customer, Regular Customer, and New Customer) - Performing multiple aggregations with mean, min and max 

df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

#### Loyal customers, on an average, spend on lower priced products in comparison to the other groups of New Customer nad Regular Customer.

# Step 6 

## The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

## * If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

## * If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [20]:
# Create a spending flag using loc
# Split data into groups based on user_id and tranform prices to generate average_price for each user

df_ords_prods_merged['average_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [ ]:
# Check accuracy and print head of dataframe to view new column  

df_ords_prods_merged.head(60)

###  Deriving Columns with loc()

### Setting loc functions (with conditions)

In [22]:
# Derive column conditions

df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [23]:
df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [24]:
# Get the amount of High / Low Spenders 

df_ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

# Step 7 


## In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

### * If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

### * If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

### * If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [25]:
# Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. 
# (Non-frequent customer, Regular customer, and Frequent customer)

df_ords_prods_merged['Frequency_of_customer'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [ ]:
# Check accuracy and print head of dataframe to view new column  

df_ords_prods_merged.head(60)

### Deriving Columns with loc()


### Setting loc functions (with conditions)

In [27]:
# Derive column conditions

df_ords_prods_merged.loc[df_ords_prods_merged['Frequency_of_customer'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [28]:
df_ords_prods_merged.loc[(df_ords_prods_merged['Frequency_of_customer'] > 10) & (df_ords_prods_merged['Frequency_of_customer'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [32]:
df_ords_prods_merged.loc[df_ords_prods_merged['Frequency_of_customer'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [30]:
# Check frequency of order_frequency_flag 

df_ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [31]:
df_ords_prods_merged[['user_id', 'loyalty_flag', 'spending_flag', 'order_frequency_flag']].head(60)

    user_id      loyalty_flag spending_flag   order_frequency_flag
0         1      New customer   Low Spender  Non-frequent customer
1         1      New customer   Low Spender  Non-frequent customer
2         1      New customer   Low Spender  Non-frequent customer
3         1      New customer   Low Spender  Non-frequent customer
4         1      New customer   Low Spender  Non-frequent customer
5         1      New customer   Low Spender  Non-frequent customer
6         1      New customer   Low Spender  Non-frequent customer
7         1      New customer   Low Spender  Non-frequent customer
8         1      New customer   Low Spender  Non-frequent customer
9         1      New customer   Low Spender  Non-frequent customer
10       15  Regular customer   Low Spender      Frequent customer
11       15  Regular customer   Low Spender      Frequent customer
12       15  Regular customer   Low Spender      Frequent customer
13       15  Regular customer   Low Spender      Frequent customer
14       15  Regular customer   Low Spender      Frequent customer
15       19      New customer   Low Spender      Frequent customer
16       19      New customer   Low Spender      Frequent customer
17       19      New customer   Low Spender      Frequent customer
18       21  Regular customer   Low Spender      Frequent customer
19       31  Regular customer   Low Spender      Frequent customer
20       31  Regular customer   Low Spender      Frequent customer
21       43  Regular customer   Low Spender      Frequent customer
22       43  Regular customer   Low Spender      Frequent customer
23       52  Regular customer   Low Spender      Frequent customer
24       52  Regular customer   Low Spender      Frequent customer
25       52  Regular customer   Low Spender      Frequent customer
26       52  Regular customer   Low Spender      Frequent customer
27       52  Regular customer   Low Spender      Frequent customer
28       52  Regular customer   Low Spender      Frequent customer
29       52  Regular customer   Low Spender      Frequent customer
30       52  Regular customer   Low Spender      Frequent customer
31       52  Regular customer   Low Spender      Frequent customer
32       52  Regular customer   Low Spender      Frequent customer
33       52  Regular customer   Low Spender      Frequent customer
34       52  Regular customer   Low Spender      Frequent customer
35       52  Regular customer   Low Spender      Frequent customer
36       52  Regular customer   Low Spender      Frequent customer
37       67  Regular customer   Low Spender      Frequent customer
38       67  Regular customer   Low Spender      Frequent customer
39       67  Regular customer   Low Spender      Frequent customer
40       67  Regular customer   Low Spender      Frequent customer
41       67  Regular customer   Low Spender      Frequent customer
42       67  Regular customer   Low Spender      Frequent customer
43       67  Regular customer   Low Spender      Frequent customer
44       67  Regular customer   Low Spender      Frequent customer
45       67  Regular customer   Low Spender      Frequent customer
46       67  Regular customer   Low Spender      Frequent customer
47       67  Regular customer   Low Spender      Frequent customer
48       67  Regular customer   Low Spender      Frequent customer
49       67  Regular customer   Low Spender      Frequent customer
50       67  Regular customer   Low Spender      Frequent customer
51       67  Regular customer   Low Spender      Frequent customer
52       67  Regular customer   Low Spender      Frequent customer
53       67  Regular customer   Low Spender      Frequent customer
54       67  Regular customer   Low Spender      Frequent customer
55       67  Regular customer   Low Spender      Frequent customer
56       81      New customer   Low Spender  Non-frequent customer
57       81      New customer   Low Spender  Non-frequent customer
58       82  Regular customer   Low Spender       Regular customer
59       82  Regular customer   Low Spender       Regular customer

# Step 8


## Ensure your notebook is clean and structured and that your code is well commented.

### Done

# Step 9 

## Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [33]:
# Exporting data 

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_updated_4_8.pkl'))